{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig*.json",
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "eslint-plugin-import",
    "@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/no-floating-promises": [
      "error"
    ],
    "@typescript-eslint/await-thenable": [
      "error"
    ],
    "@typescript-eslint/unbound-method": [
      "error"
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "no-empty-pattern": "off",
    "@typescript-eslint/no-non-null-asserted-optional-chain": [
      "off"
    ],
    "@typescript-eslint/no-non-null-assertion": [
      "off"
    ],
    "no-inner-declarations": "off"
  }
}